# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
api/*.exe
api/*.exe~
api/*.dll
api/*.so
api/*.dylib

# Test binary, built with `go test -c`
api/*.test

# Code coverage profiles and other test artifacts
api/*.out
api/coverage.*
api/*.coverprofile
api/profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
api/go.work
api/go.work.sum
api/node_modules
api/views/*.go
api/views/*.txt
api/.env

# env file
db.env
app.env

# Editor/IDE
# .idea/
# .vscode/


# web project NEXT.JS
web/node_modules/
web/.next/
web/.swc/
web/.*.env

db_data

.env